@model Promotion

<div class="row justify-content-between px-3">
    <button type="button" class="col-1 btn btn-danger btn-sm" id="btn-delete">Xoá</button>
    <h4 class="col-9 text-center "> Cập nhật khuyến mãi</h4>
    <button type="submit" class=" col-1 btn btn-primary" form="form-edit">Lưu</button>
</div>
<div class="row">
    <form asp-action="Edit" id="form-edit" asp-area="admin" asp-controller="promotion" method="post">
        <input type="hidden" asp-for="PromotionId" />
        <div class="bg-white shadow-blur border-radius-xl p-4">
            <div class="d-flex flex-wrap gap-2">
                <div class="form-group w-50">
                    <label class="control-label"> Tên chương trình</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Phần trăm giảm</label>
                    <input asp-for="DiscountPercentage" class="form-control" />
                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Ngày bắt đầu</label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Ngày kết thúc</label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="variantSearch" class="control-label">Tìm kiếm sản phẩm</label>
                <input type="text" id="variantSearch" class="form-control" placeholder="Tìm kiếm" />
                <ul id="variantSearchResults" class="list-group mt-2">
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label">Sản phẩm được chọn</label>
                <div id="selectedVariants" class="p-2">
                     @foreach (var variant in Model.Products)
                    {
                        <div data-sku="@variant.Sku" class="d-flex justify-content-between align-items-center border-bottom p-1">
                            <span>@($"{variant.Product.Name} {(!string.IsNullOrEmpty(variant.Size) ? " - " + variant.Size.Trim() : "")} {(variant.ColorId.HasValue ? " - " + variant.Color?.ColorName:"")}")</span>
                            <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="removeVariant('@variant.Sku')"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Xoá</a>
                            <input type="hidden" name="SelectedProductSkus" value="@variant.Sku" />
                        </div>
                    }
                </div>
            </div>

        </div>

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        var productVariants = @Html.Raw(Json.Serialize(ViewBag.ProductVariants));

        $(document).ready(function () {
            $('#variantSearch').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                if (searchQuery.length < 2) {
                    var resultsList = $('#variantSearchResults');
                    resultsList.empty();
                    return;
                }
                var filteredVariants = productVariants.filter(function (variant) {
                    return variant.text.toLowerCase().includes(searchQuery);
                });
                displaySearchResults(filteredVariants);
            });
        });

        function displaySearchResults(variants) {
            var resultsList = $('#variantSearchResults');
            resultsList.empty();
            if (variants.length > 0) {
                variants.forEach(function (variant) {
                    var listItem = $('<li>').addClass('list-group-item list-group-item-action').text(variant.text);
                    listItem.on('click', function () {
                        addSelectedVariant(variant);
                    });
                    resultsList.append(listItem);
                });
            } else {
                resultsList.append($('<li>').addClass('list-group-item').text('No results found'));
            }
        }

        function addSelectedVariant(variant) {
            var selectedVariantsDiv = $('#selectedVariants');
            if (!selectedVariantsDiv.find(`[data-sku="${variant.value}"]`).length) {
                var variantHtml = `
                                                    <div data-sku="${variant.value}" class="d-flex justify-content-between align-items-center border-bottom p-1">
                                        <span>${variant.text}</span>
                                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="removeVariant('${variant.value}')"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Xoá</a>

                                                <input type="hidden" name="SelectedProductSkus" value="${variant.value}" />
                                    </div>
                                `;
                selectedVariantsDiv.append(variantHtml);
            }
            $('#variantSearchResults').empty();
            $('#variantSearch').val('');
        }

        function removeVariant(sku) {
            $(`#selectedVariants [data-sku="${sku}"]`).remove();
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#btn-delete').on('click', function () {
                if (confirm('Bạn có chắc chắn muốn xoá khuyến mãi này?')) {
                    $.ajax({
                        url: '/Admin/Promotion/Delete/@Model.PromotionId', 
                        type: 'DELETE',
                        success: function (data) {
                            alert('Khuyến mãi đã được xoá thành công.');
                            
                            window.location.href = '/Admin/Promotion/Index'; 
                        },
                        error: function (xhr) {
                            alert('Đã xảy ra lỗi khi xoá khuyến mãi.');
                        }
                    });
                }
            });
        });
    </script>
}
<style>
    #variantSearchResults li {
        cursor: pointer
    }

    #selectedVariants .btn {
        margin: 0 !important
    }
</style>
