@model IEnumerable<Order>


<link href="~/css/prod.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h5 class="w-20">Đơn hàng</h5>
                <form asp-action="Index" asp-area="Admin" asp-controller="Orders">
                    <div class="row">
                        <div class="col-1">
                            <label for="StartDate">Từ </label>
                        </div>
                        <div class="col-4 ">
                            <input type="date" class="form-control col-11" id="from" name="from" value="@ViewBag.From?.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="col-1">
                            <label for="EndDate">Đến</label>
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control" id="to" name="to" value="@ViewBag.To?.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Lọc</button>
                        </div>
                    </div>

                </form>
                <div>
                    <form asp-action="Search" asp-area="Admin" asp-controller="Orders" method="get">
                        <input type="text" id="searchInput" name="orderId" value="@ViewBag.SearchString" placeholder="Mã đơn hàng...">
                        <button class="btn btn-outline-primary btn-sm mb-0 " id="filterButton" type="submit">Tìm</button>         
                    </form>
                  
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table id="productsTable" class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Khách</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tổng tiền</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng thái</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tạo </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cập nhật</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Địa chỉ</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        @await Html.PartialAsync("_Order", Model)

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="...">
    <div page-model-admin="@ViewBag.Pager"  page-action="Index" page-classes-enabled="true"
         page-class="page-index"
         page-from="@ViewBag.From"
         page-to="@ViewBag.To"
         page-class-selected="active" class="pagination justify-content-center" id="client-pager">
    </div>
</nav> 


